.account-info-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 5%;
    padding-bottom: 30px;
    border-radius: 25px;
    width: 52%;
    animation: example 700ms ease-out;
    animation-fill-mode: backwards;
    transition: transform 0.2s;
}

.account-info-wrapper ul {
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
    margin: auto;
}

.account-info-wrapper li,
.account-info-wrapper h1 {
    width: 100%;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 120%;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.account-info-wrapper h1 {
    font-family: "Oleo Script Swash Caps", cursive;
    font-weight: 400;
    font-size: 48px;
    margin: 30px 0 20px 0;
}

.change-button-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
    margin: auto;
}

.post-button-ATC {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    /* or 38px */
    /* primary */
    color: #e1651f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 79px;
    background: rgba(232, 107, 38, 0.15);
    border-radius: 25px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.account-background {
    background-image: url("../images/h.jpg");
    background-size: 100%;
    margin-top: 0%;
    display: flex;
    padding: auto;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

.information-icon {
    width: 30%;
    font-size: 120%;
    text-align: right;
    padding-right: 40px;
}

.information-content {
    width: 70%;
    text-align: left;
}

.change-button-wrapper .post-button-ATC {
    width: 20%;
    margin-right: 20px;
    margin-left: 20px;
}