.order_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  flex: 1;
  height: auto;
}

.order_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  max-width: 80%;
  height: auto;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  font-weight: bold;
}

.order_main > div {
  margin: 10px;
}

.dish_display_box {
  display: flex;
  background-color: #eaeaeb;
  flex-wrap: wrap;
  max-width: 100%;
  height: 140px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 31px;
  padding-right: 31px;
  margin-top: 20px;
}

.dish_image_display {
  width: 15%;
}

.dish_id {
  display: flex;
  text-align: left;
  padding-left: 10px;
  align-items: center;
  width: 10%;
}

.dish_image {
  display: flex;
  flex: 1;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.dish_name {
  display: flex;
  text-align: left;
  padding-left: 10px;
  align-items: center;
  width: 20%;
}

.dish_btn {
  display: flex;
  text-align: left;
  padding-bottom: 15px;
  padding-left: 10px;
  align-items: center;
  width: 5%;
}

.dish_quanity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.dish_price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}

.order_list {
  display: flex;
}

.total_cost {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.payment_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.payment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #e1651f;
  padding: 16px 28px 16px 28px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  text-decoration: none;
}

.alert-message {
  font-size: 300%;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
}
