.admin-dish-btn-array {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.edit-dish-btn {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40%;
  /* or 38px */
  /* primary */
  color: white;
  background-color: rgba(69, 215, 103, 0.53);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  /* background: rgba(232, 107, 38, 0.15); */
  border-radius: 10px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin: 10px 0px;
  border: none;
  width: 45%;
}

.delete-dish-btn {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40%;
  /* or 38px */
  /* primary */
  color: white;
  background-color: rgba(253, 14, 14, 0.53);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin: 10px 0px;
  border: none;
  width: 50%;
}

.edit-menu-popup-content {
  min-width: 90%;
  min-height: 90%;
  background-size: 100%;
  background-image: url("../images/l.jpg");
}

.edit-menu-pop-up-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.edit-menu-popup-dish-detail {
  font-family: Oleo Script Swash Caps;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  width: 40%;
  margin: 5px;
  border-radius: 10px;
  background-color: rgba(200, 200, 200, 0.8);
}

.edit-menu-popup-form {
  font-family: Oleo Script Swash Caps;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  width: 50%;
}
