@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap");
.notification {
    text-align: center;
    color: red;
}

.forget-password-form-title {
    font-family: "Oleo Script Swash Caps", cursive;
    font-weight: 400;
    font-size: 48px;
    margin: 30px 0 20px 0;
    text-align: center;
    width: 100%;
}

.forget-password-form-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.forget-password-form-body input {
    width: 90%;
}

.forget-password-form-body .alert {
    width: 90%;
}

.forget-password-form-body>.form-group {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.forget-password-form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.forget-password-form-wrapper>* {
    width: 100%;
}

.forget-password-form-body button {
    width: 40%;
    margin-top: 20px;
    height: 60px;
    font-size: 100%;
}