@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap");
.notification {
  text-align: center;
  color: red;
  font-size: 130%;
  font-weight: bold;
}

.form-title {
  font-family: "Oleo Script Swash Caps", cursive;
  font-weight: 400;
  font-size: 48px;
  margin: 30px 0 20px 0;
  text-align: center;
  width: 100%;
}

.form-title-light {
  font-family: "Oleo Script Swash Caps", cursive;
  font-weight: 400;
  font-size: 48px;
  margin: 30px 0 20px 0;
  text-align: center;
  width: 100%;
  color: white;
}

.form-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-body > input {
  width: 100%;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.form-wrapper > * {
  width: 100%;
}

.form-background {
  background-image: url("../images/c.jpg");
  background-size: 100%;
  margin: 0%;
  display: flex;
  justify-content: center;
}

.form-background-2 {
  background-image: url("../images/f.jpg");
  background-size: 100%;
  margin: 0%;
  display: flex;
  justify-content: center;
}

.form-background-3 {
  background-image: url("../images/g.jpg");
  background-size: 100%;
  margin: 0%;
  display: flex;
  justify-content: center;
}

.form-background-4 {
  background-image: url("../images/k.jpg");
  background-size: 100%;
  margin: 0%;
  display: flex;
  justify-content: center;
}

.form-outer {
  background-color: rgba(255, 255, 255, 0.3);
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  padding: 2%;
  border-radius: 20px;
}

.form-outer-dark {
  background-color: rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 2%;
  border-radius: 20px;
}
