.form-outer-dark {
    animation: example 600ms ease-in-out;
    animation-fill-mode: backwards;
    transition: transform .2s;
}

@keyframes example {
    from{
      opacity: 0;
      transform: scale(0.3);
      filter: hue-rotate(180deg);
    }
    to{
      opacity: 1;
      transform: scale(1);
      filter: hue-rotate(0deg);
    }
  }