.option {
    display: flex;
    align-items: center;
    float: right;
    text-align: right;
}

.displayChart {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 70%;
    border-radius: 25px;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    border-radius: 25px;
}